In [19]:
import pandas as pd
import numpy as np
import matplotlib as mplot

In [23]:
data = pd.read_csv('C:\\Users\\gwflo\\Downloads\\Gaitdata.csv')

In [24]:
data

,Frame,Time (s),Knee angle (deg),Knee angular velocity (deg/s),Knee angular acceleration (deg/s2)
0,0,0.000,2.05,-2.72,-1075.0
1,1,0.002,2.05,-4.87,-765.0
2,2,0.004,2.04,-6.39,-445.0
3,3,0.006,2.03,-7.28,-192.5
4,4,0.008,2.01,-7.67,102.5
...,...,...,...,...,...
838,838,1.676,21.06,14.20,-300.0
839,839,1.678,21.09,13.60,-250.0
840,840,1.680,21.11,13.10,-275.0
841,841,1.682,21.14,12.55,NaN
842,842,1.684,21.16,NaN,NaN

In [25]:
df = pd.read_csv('C:\\Users\\gwflo\\Downloads\\owdata.csv')

In [26]:
df

          Date  GenesisPulse  GenesisRMSSD
0    2/18/2022          51.0          88.0
1    2/14/2022          48.0         151.0
2    2/14/2022          48.0         151.0
3    2/14/2022          50.0         139.0
4    2/14/2022          50.0         139.0
..         ...           ...           ...
312  1/31/2022          49.0         136.0
313  1/30/2022          68.0          22.0
314  1/30/2022          52.0          44.0
315  1/30/2022          42.0          65.0
316  1/30/2022          54.0          53.0

[317 rows x 3 columns]